.button-primary {
    text-decoration: none;
    color: $call-to-action;
    border: 2px solid $call-to-action;
    border-radius: 8px;
    padding: 14px 28px;
    margin: 2px;
}

.button-secondary {
  text-decoration: none;
  color: $text;
  border: 1px solid $text;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 8px;
}
