nav {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: $secondary-background;
  position: sticky;
  top: 0;
  height: 6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
  ul {
    li {
      padding: 15px
    }
  }
}
