section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}

#home {
  height: 100vh;
  background-color: $background;
  background-image: $gradient;
  background-size: cover;
  width: 60%;
  text-align: center;
  h1 {
    line-height: 0.8;
    margin: 0px;
    text-shadow: 5px 5px 3px black;
  }
  h2 {
    font-weight: lighter;
    text-transform: uppercase;
  }
}

#about {
  width: 100vw;
  .intro {
    width: 50vw;
    text-align: center;
  }
  .icon {
    margin-top: 40px;
  }
  #background {
    width: 50vw;
    text-align: center;
  }
}

#projects {
  margin-top: 40px;
  padding: 40px 0px;
  background-image: $gradient;
  background-size: cover;
  .project{
    display: flex;
    align-items: center;
    margin: 72px 0px;
    .project-info{
      margin: 0px 24px;
      height: 25vh;
      width: 30vw;
      .project-title{
        display: flex;
        align-items: center;
        justify-content: start;
        img {
          height: 10px;
          margin: 0px 16px;
        }
      }
    }
    .project-left {
      float: left;
    }
    .project-right {
      float: right;
      text-align: right;
    }
    img {
      box-shadow: 5px 5px 3px black;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50vh;
    }
  }
}

#wips {
  .wips {
    display: flex;
    align-items: center;
    margin: 24px 0px;
    p {
      width: 40vw;
      margin-left: 16px;
    }
  }
}

#contact {
  p {
    width: 40vw;
  }
}

#footer {
  height: 10vh;
  background-image: rgba(30, 141, 185, 0.3);
  background-size: cover;
  .socials {
    .link-icons {
      font-size: 40px;
      color: $text;
      margin: 8px;
    }
  }
  p {
    margin: 0;
  }
}
