section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0px;
}

#home {
  height: 100vh;
  background-color: $background;
  background-image: $gradient;
  .title-section{
    display: flex;
    align-items: center;
    .title {
      text-align: right;
      width: 60%;
      padding-right: 15px;
      h2 {
        font-weight: 100;
      }
    }
    img {
      box-shadow: 5px 5px 3px black;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 40vh;
    }
  }
}

#about {
  height: 95vh;
  width: 32vw;
  .icon {
    margin-top: 32px;
  }
}

#projects {
  margin-top: 40px;
  .project{
    display: flex;
    align-items: center;
    margin: 40px 0px;
    .project-info{
      margin: 0px 24px;
      height: 25vh;
      width: 30vw;
    }
    .project-left {
      float: left;
    }
    .project-right {
      float: right;
      text-align: right;
    }
    img {
      box-shadow: 5px 5px 3px black;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 48vh;
    }
  }
}

#wips {
  .wips {
    display: flex;
    align-items: center;
    margin: 24px 0px;
    p {
      width: 40vw;
      margin-left: 16px;
    }
  }
}

#footer {
  height: 10vh;
  background-image: $gradient;
  .socials {
    .link-icons {
      font-size: 40px;
      color: $text;
      margin: 8px;
    }
  }
  p {
    margin: 0;
  }
}
