.tech-stack {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  justify-content: center;
  width: 45px;
  .tech {
    width: 40px;
    display: grid;
    margin: 16px 32px;
    background-color: $background-secondary;
    p {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 0.5;
      margin-top: 8px;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 56px;
      height: 56px;
      margin: 16px 16px 0px 16px;
    }
  }
}
