.tech-stack {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 45px;
  .tech {
    width: 30px;
    display: grid;
    margin: 15px;
    background-color: $background-secondary;
    p {
      text-transform: uppercase;
      line-height: 0.5;
      margin: 0;
    }
    img {
      display: block;
      margin: 0 auto;
      width: 50px;
      height: 50px;
      margin: 16px;
    }
  }
}
