.icon {
  font-size: 150px;
  color: $gradient;
}
.icon:hover {
  font-size: 200px;
  text-shadow: 5px 5px 3px black;
  transition: 0.1s;
}

h1 {
  text-transform: uppercase;
  font-weight: 150;
  font-size: 4rem;
  line-height: 0.8;
  margin: 2px;
  margin: 0px;
  text-shadow: 5px 5px 3px black;
}

h2 {
  padding: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 20px;
}

h3 {
  text-transform: uppercase;
  font-size: 24px;
  text-shadow: 5px 5px 3px black;
}

p {
  font-weight: lighter;
  font-size: 14px;
}
