.icon {
  font-size: 150px;
  background: -webkit-linear-gradient(rgba(95, 53, 122, 0.2), rgba(30, 141, 185, 0.2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  text-transform: uppercase;
  font-weight: 150;
  font-size: 72px;
  line-height: 0.8;
}

h2 {
  padding: 0px;
}

h3 {
  text-transform: uppercase;
  font-size: 24px;
}

p {
  font-weight: 250;
}
