@import "components/colors.scss";
@import "components/section.scss";
@import "components/button.scss";
@import "components/nav-bar.scss";
@import "components/stack.scss";



body {
  font-family: "Monsterrat", sans-serif;
  color: $text;
  background-color: $background;
}

h1 {
  text-transform: uppercase;
  font-weight: 150;
  font-size: 7vw;
  line-height: 0.8;
}
