@import "components/stack.scss";
@import "components/text.scss";

body {
  font-family: "Monsterrat", sans-serif;
  background-color: #191e23;
  a {
    text-decoration: none;
    padding: 10px;
    background-color: rgba(4, 143, 143, 0.6);
  }
}

h1 {
  text-transform: uppercase;
  font-weight: 150;
  font-size: 7vw;
  line-height: 0.8;
}


.title-section{
  text-align: right;
  width: 60%;
  padding-right: 15px;
}

.child {
  display: inline-block;
}
